
*{
    margin: 0;
    padding: 0;
}

/* this style for navbar  */
.navbar{
    padding: 0 4rem;
    background: rgb(0, 9, 9);
    background-attachment: fixed;
}
.navbar-toggler-icon{
    background: teal;
    color: white;
}
ul{margin-left: 2rem; display: flex; flex-wrap: wrap;}
li{margin: 0.5rem;}
.dropdown-menu{
    background: rgb(173, 246, 246);
}
#navbarSupportedContent .nav-link{color: #fff; font-weight: 600;}
/* >>>>>>>>logo style code >>>>>> */

.logo{
    width:150px;
    height: 80px;
}
form .form-control{
    height: 40px;
    width: 250px;
    border-radius: 15px 15px;
}
form .btn {
    color: white;
    display: flex;
    flex-wrap: wrap;
    background: teal;
    border-radius: 15px 15px;
}
/* slide images style  */
.bgimg{
    /* width: 100%; */
    /* height: 600px; */
    /* position: relative;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('../IMAGES/DNA@.png');
}
  #clinic{
    width:10rem;
    height: 3rem;
    border: none;
    color: white;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
    background: black;
    border-radius: 20px;
  }
.item{
    text-align: center;
    color: rgb(250, 246, 246);
    position: absolute;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* reviews  */
.card5{
    color: white;
    width:350px;
    height: 460px;
    transition: 0.5s;
    border-radius: 20px;
    background: cadetblue;
    box-shadow: 0px 2px 3px rgb(23, 21, 21);
}
.card5:hover{
    background: teal;
}
.card5-body{
    width:350px;
    position: absolute;
    display: block;
    padding: 5px;
}
#devimg{
    width:350px;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.card5-title a{
    color: white;
    text-decoration: none;
}
.card5-title a:hover{
    color: rgb(71, 51, 131);
}
/* .........subscribe..........  */ 
.input{
    text-align: center;
}
input{
    width: 200px;
    height: 2.5rem;
    border: none;
    background: rgb(216, 218, 220);
    text-align: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
#btn1{
    width:6rem;
    height: 2.5rem;
    border: none;
    background: teal;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

/* >>>>>>>>>>>>>>>Counter >>>>>>>>>>  */
.counter-box {
    height: 170px;
    width:auto;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
	background: teal;
	padding: 40px 20px 37px;
	text-align: center;
    box-shadow: 0px 2px 5px rgb(23, 21, 21);
}

.counter-box p {
	margin: 5px 0 0;
	padding: 1rem;
	color: white;
	font-size: 18px;
	font-weight: 500
}

.counter { 
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: #fcfafa;
	line-height: 28px
}

/* .counter-box.colored {
      background: #3acf87;
} */

.counter-box.colored p,span,
.counter-box.colored .counter {
	color: #fff
}

/* >>>>>>>>>>>>About Clinic Research Style code>>>>>>>>>> */

.ClRe{
    margin: 2px;
    width:auto;
    border-radius: 5px;
    box-shadow:0px 1px 3px rgb(23, 21, 21);
    box-sizing: border-box;
    margin-top: 3rem;
    font-weight: 400;
    font-size: 17.5px;
}
#clin{
    width:10rem;
    height: 2.5rem;
    background:teal;
    border-radius: 20px;
    border: none;
    color: white;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
/* >>>>>>>>>>>>>>>>> BioPharma */

.bg{
    margin-top: 5rem;
    height: auto;
    color: #fff;
    background-color: steelblue;
    background-image: radial-gradient(steelblue 5%, teal 15%, dodgerblue 60%);
}
.bg1{
    margin-top: 5rem;
    height: auto;
    color: #fff;
    background-image: radial-gradient(cornflowerblue 5%, midnightblue 15%, teal 60%);
}
#bioimg1{
    margin: 0;
    width: 100%;
    display: flex;
    flex-basis: 60%;
    position: relative;
    transition: 0.4s cubic-bezier(1, -1, 0, 2);
    clip-path: polygon(50% 5%, 0% 100%, 100% 100%);
    box-shadow: 0px 2px 3px rgb(23, 21, 21);
}
.clip-animation { 
    clip-path: polygon(100% 50%,84% 54%,91% 60%,82% 63%,93% 75%,77% 71%,80% 81%,71% 77%,75% 93%,63% 82%,60% 91%,54% 84%,50% 100%,45% 84%,39% 91%,36% 82%,25% 94%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%)}
  
  .clip-animation { 
    animation: clip 1s infinite
  }
  
  @keyframes clip {
    0% {
      clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%);
    }
    50% {
      clip-path: polygon(84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%);
    }
     100% {
      clip-path: polygon(91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%,84.70057014808336% 54.5684167277018%);
    }
  }
/* >>>>>>>>>>>>Insights Style Code>>>>>>>>>  */
.insight{
    margin: 2px;
    width:auto;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    box-shadow:0px 1px 3px rgb(23, 21, 21);
    box-sizing: border-box;
    margin-top: 3rem;
    font-weight: 400;
    font-size: 17.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* >>>>>>>>>>>>>>Career Style Code>>>>>>>>>>>  */
.career{
    margin: 2px;
    width:auto;
    padding: 0 3rem;
    margin-top: 3rem;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;  
}
.caim{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    transition: 0.5s;
    box-sizing: border-box;
    border: 1px solid #ddd;
    box-shadow:0px 1px 3px rgb(23, 21, 21);
}
.caim:hover {
    transform: translateY(2em);
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
/* >>>>>>>>>>>> Corporate Social Responsibility >>>>>>>>>>>>>>> */
.bx1{
    width:auto;
    height: 340px;
    text-align: center;
    background: teal;
    text-decoration: none;
}
/* .bx1::before{
    margin-left: 123.5px;
    content: "";
    position: absolute;
    margin-right: 0;
    border-top: 60px solid rgb(255, 253, 253);
    border-left: 60px solid cadetblue;
} */
.bx1:hover{
    background: rgb(26, 86, 86);
}
.bx1 img{
   margin-top: 1rem;  
}
.text{
    margin-top: 2rem;
    color: #fff;
}
.text a{
    color: white;
    font-weight: 800;
    text-decoration: none; 
}
.text a:hover{
    color: sienna;
    font-weight: 600;
    text-decoration: none; 
}
.text a i{color:#fff;}
  /* >>>>>>>>>>Footer>>>>>>>>>>>  */
footer{
    background-color: rgb(6, 17, 27);
}
#c1{
    color: white;
}
.col{
    text-align: center;
    box-shadow: 0px 5px 10px rgb(23, 21, 21);
}
.col a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.col a:hover{color:rgb(168, 58, 58);}
.footlogo{
    width:150px;
    height: 150px;
}
/* use for footer tagline  */
#c2{
    color: white;
    text-align: center;}
.cont{
    color: white; 
    font-weight: 600; 
    text-decoration: none;
}
