*{
    padding: 0;
    margin: 0;
}
.gradient-custom1 {
    height: auto;
    background: linear-gradient(
      45deg,
      rgba(4, 1, 145, 0.6),
      rgba(86, 119, 98, 0.6)100%
    );
  }
  .gb{
    width:100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    clip-path: polygon(50% 0%, 100% 0, 100% 66%, 49% 71%, 49% 71%, 0 66%, 0 0);
  }
  .bx{
    color: white;
    padding: 10rem 0;
   text-align: center; 
  }
  .bx button{
    width:7rem;
    height: 3rem;
    border: none;
    color: white;
    border-radius: 10px;
    background: rgb(14, 5, 22);
  }
  /* hjf */
.demo h3, p{
    margin-top: 2rem;
    color: rgb(1, 26, 47);
    padding:0 4rem;
    font-weight: 600;
}
.bx4{
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
.bx5{
    padding: 4rem 0;
}
#rev{
    text-align: center;
    padding: 8rem 3rem;
    color: rgb(35, 36, 37);
    font-weight: 700;
}
#rev button{
    width:8rem;
    height: 3rem;
    border: none;
    color: white;
    border-radius: 50px;
    background: rgb(83, 196, 233);
}
#btnn{
  width:8rem;
  height: 3rem;
  border: none;
  color: white;
  margin-left: 6rem;
  border-radius: 50px;
  background: rgb(70, 205, 249);
}
div h4{
  color: rgb(3, 122, 131);
  text-align: center;
  margin-top: 5rem;
}
